  body {
    background: linear-gradient(0deg, rgb(21, 22, 22) 0%, rgb(22, 26, 210) 56%, rgb(21, 23, 61) 83%);
    min-height: 100vh;
  }

  
.inter-props{
    color: white;
    text-shadow: 1px 1px black;
}