.tabla{
    text-align: center;
}
.container h4{
    color:white;
    text-shadow: 1px 1px rgb(236, 36, 36);
}
.inputs{
    color:white;
    text-shadow: 1px 1px black;
    
}
.inputs label{
    font-size: 1.8rem;
}

.inputs input{
    width: 60%;
}

#rInter{
    display: inline-block;
    width: 10vw;
}
